#GENERIC
CONFIG_PATH=
DATA_PATH=
PGID=1000
PUID=1000
SERVER_IP=
TIMEZONE=

#IRC
IRC_DOMAIN=

#PIHOLE
PIHOLE_DNS1=1.1.1.1
PIHOLE_DNS2=1.0.0.1
PIHOLE_DOMAIN=
PIHOLE_IP=
PIHOLE_PASS=
PIHOLE_PORT=80
PIHOLE_SECOND_AUTH=

#PORTAINER
PORTAINER_DOMAIN=

#PROMETHEUS
PROMETHEUS_DOMAIN=

#SAMBA
SAMBA_HOST_VOLUME=
SAMBA_PASS=
SAMBA_USER=
SAMBA_WORKGROUP=

#TRAEFIK
TRAEFIK_DNS1=1.1.1.1
TRAEFIK_DNS2=1.0.0.1
TRAEFIK_DOMAIN=
TRAEFIK_MAIL=
TRAEFIK_SUBDOMAIN=
TRAEFIK_USER=

#GRAFANA
GF_SECURITY_ADMIN_PASSWORD=
GF_SERVER_DOMAIN=

#MATOMO
MATOMO_DOMAIN=
MATOMODB_PASS=

TORRENT_DOMAIN=

BACKUP_CRON_EXPRESSION="0 2,15 * * *"

BACKUP_FILENAME="backup-%Y-%m-%dT%H-%M-%S.tar.gz"
BACKUP_FILENAME_EXPAND="true"
BACKUP_ARCHIVE="/archive"
BACKUP_RETENTION_DAYS="7"
BACKUP_PRUNING_PREFIX="backup-"

#FRESHRSS
FRESHRSS_DOMAIN=
FRESHRSS_DATABASE_DB=
FRESHRSS_DATABASE_USER=
FRESHRSS_DATABASE_PASSWORD=
EMBY_DOMAIN=
